.bxr-section-desc {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}

span.bxr-font-hover-light-span {
    cursor: default;
}

span.bxr-offer-img-in-list.fancybox-Y {
    cursor: pointer;
}

.bx_sitemap_li_title a {
    color: black;
}

.bx_sitemap_li_title a:hover {
    color: black;
}

.news-detail-new a {
    text-transform: uppercase;
    font-weight: bold;
}

.news-detail-new ul {
    padding-left: 20px;
}

.news-detail-new ul li {
    color: #ffcc00;
    padding-bottom: 5px;
}

.news-detail-new ul li span {
    color: black;
}

.news-detail-new table {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.news-detail-new table td {
    padding: 5px !important;
}